@import "variables.scss";

@import "mixins.scss";

@media (max-width: 1200px) {
  .header {
    &-container {
      max-width: 900px;
    }
  }

  .intro {
    &-container {
      max-width: 1000px;
      gap: 40px;

      .description {
        max-width: 350px;

        h1 {
          font-size: 4rem;
          line-height: 4.5rem;
          margin-bottom: 30px;
        }

        button {
          padding: 17px 30px 17px;
        }
      }
      .selector {
        gap: 35px;

        img {
          max-width: 180px;
          max-height: 240px;
        }
      }
    }
  }

  .waveNFT {
    &-container {
      max-width: 1000px;
    }
  }

  .artists {
    &-container {
      &-list {
        justify-content: center;
      }
    }
  }

  .roadmap {
    &-container {
      &-back {
        max-width: 1025px;
      }
    }
  }

  .team {
    &-container {
      &-members {
        max-width: 1000px;

        .team__member {
          img {
            width: 85%;
          }
        }
      }
    }
  }

  .footer {
    &-container {
      max-width: 1000px;

      .rights {
        img {
          width: 90%;
        }
        p {
          font-size: 1rem;
          line-height: 2rem;
        }
      }

      .links {
        gap: 50px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 20px 20px 9px;

    &-container {
      max-width: 728px;

      .nav-container {
        max-width: 414px;
        width: 100%;
        justify-content: space-between;

        img {
          width: 120%;
        }

        nav {
          flex-direction: column;
          gap: 10px;
        }
      }
    }

    .social-container {
      .social {
        align-self: center;
        max-width: 100px;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }

  .intro {
    padding: 83px 30px 53px;

    &-container {
      max-width: 728px;
      flex-direction: column;
      align-items: center;
      gap: 100px;

      .description {
        max-width: 728px;

        h1 {
          font-size: 5.2rem;
        }

        p {
          font-size: 2rem;
          line-height: 3rem;
          max-width: 650px;

          margin-bottom: 65px;
        }

        button {
          padding: 15px 30px;
        }
      }

      .selector {
        gap: 50px;
        margin-bottom: 10px;
      }
    }
  }

  .waveNFT {
    padding: 44px 30px 70px;

    &-container {
      max-width: 728px;

      &__blue {
        h2 {
          padding-left: 36px;
          margin-bottom: 31px;
          font-size: 3.6rem;
        }
        img {
          max-width: 85%;
        }
      }
      &-description {
        h3 {
          font-size: 1.8rem;
          line-height: 2.5rem;
          margin-bottom: 22px;
        }
        p {
          font-size: 1.5rem;
          line-height: 2.1rem;
          margin-bottom: 14px;
        }
        p:nth-child(4) {
          margin-bottom: 26px;
        }

        button {
          padding: 10px 23px;
        }
      }
    }
  }

  .artists {
    &__marquee {
      height: 7.8rem;
      h2 {
        font-size: 6.9rem;
        line-height: 7.8rem;

        span {
          margin-left: 200px;
        }
      }
    }

    &-container {
      padding: 70px 20px;

      &-list {
        max-width: 1000px;
        grid-template-columns: repeat(auto-fill, 180px);
        gap: 30px;

        img {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }

  .story {
    padding: 60px 40px 72px;

    &-container {
      max-width: 1000px;
      .content {
        min-height: 450px;
        .list {
          label {
            height: 62px;
            font-size: 1.4rem;
            line-height: 6.2rem;
            padding-left: 18px;
          }
          .indicator {
            height: 62px;
          }
        }
        #partners:checked ~ .list .indicator {
          top: 62px;
        }
        #future:checked ~ .list .indicator {
          top: 124px;
        }

        .text-content {
          padding: 30px;

          .founders {
            padding-left: 0px;

            img {
              height: 200px;
            }

            h3 {
              margin-left: 165px;
              min-height: 200px;
              display: flex;
              align-items: center;
              margin-bottom: 22px;
            }
          }

          .partners {
            padding-left: 0px;

            h3 {
              margin-left: 202px;
              min-height: 133px;
              display: flex;
              align-items: center;
              margin-bottom: 22px;
            }
          }

          .future {
            padding-left: 0px;

            h3 {
              margin-left: 202px;
              min-height: 114px;
              display: flex;
              align-items: center;
              margin-bottom: 22px;
            }
          }
        }
      }
    }
  }

  .roadmap {
    padding: 68px 50px 138px;

    &-container {
      h2 {
        margin-bottom: 56px;
      }
      .phases {
        gap: 30px;

        .splitter {
          height: 20px;
          border-left: 1px solid $neon;
        }
      }

      &-back {
        height: 1350px;
        max-width: 768px;
      }
    }
  }

  .partnership {
    padding: 0 40px 145px;

    &-container {
      max-width: 1000px;

      .logos__marquee {
        &__left {
          h3 {
            span {
              margin-left: 100px;
            }
          }
        }
      }
      &__right {
        h3 {
          span {
            margin-right: 100px;
          }
        }
      }
    }
  }

  .faq {
    &-container {
      max-width: 800px;
      flex-direction: column;

      &__title {
        max-width: 800px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;

        h2 {
          max-width: 300px;
        }
      }

      .QandA {
        max-width: 800px;
      }
    }
  }

  .team {
    &__marquee {
      height: 7.8rem;

      h2 {
        font-size: 6.9rem;
        line-height: 7.8rem;

        span {
          margin-left: 150px;
        }
      }
    }

    &-container {
      padding: 72px 20px 136px;

      &-members {
        max-width: 1000px;

        .team__member {
          img {
            margin-bottom: 10px;
          }

          h5 {
            font-size: 1.8rem;
            line-height: 2.5rem;
            margin-bottom: 10px;
          }

          h6 {
            margin-bottom: 12px;
          }

          .find {
            margin-bottom: 12px;
          }

          p {
            max-width: 200px;
          }
        }
      }
    }
  }

  .join {
    &-container {
      max-width: 1000px;
      justify-content: space-evenly;

      &-info {
        p {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }

      &__purple {
        img {
          width: 400px;
        }
      }
    }
  }

  .footer {
    padding: 30px 40px;
    &-container {
      max-width: 1000px;
      flex-direction: column-reverse;
      gap: 20px;

      .rights {
        align-items: flex-end;

        a {
          padding: 10px;

          max-width: 150px;
        }

        p {
          color: rgba(255, 255, 255, 0.531);
        }
      }

      .links {
        display: flex;
        justify-content: space-between;

        &-social {
          max-width: 100px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &-container {
      max-width: 480px;

      .nav-container {
        max-width: 480px;
        width: 100%;
      }

      .social {
        display: none;
      }
    }
  }

  .intro {
    &-container {
      .description {
        h1 {
          font-size: 4.1rem;
          line-height: 5.1rem;
          text-align: center;
        }

        p {
          font-size: 1.6rem;
          line-height: 2;
        }
      }
      .selector {
        flex-wrap: wrap;
        justify-content: center;

        img {
          opacity: 1;
          margin-bottom: 20px;
        }
      }
    }
  }

  .waveNFT {
    &-container {
      flex-direction: column;
      align-items: center;

      &__blue {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        h2 {
          text-align: center;
          padding: 0;
        }
      }

      &-description {
        max-width: 600px;
      }
    }
  }

  .artists {
    font-size: 6.9rem;
    line-height: 7.8rem;

    &__marquee {
      max-width: 340px;

      h2 {
        span {
          margin: 0;
        }
      }

      &__line1,
      &__line2 {
        animation: none;
      }
    }
  }

  .story {
    &-container {
      .content {
        .list {
          width: 72px;
          label {
            height: 144px;
            padding-left: 13px;
            width: 144px;
            transform: rotate(-90deg);
            display: flex;
            justify-content: center;
          }
          .indicator {
            height: 144px;
          }
        }

        #partners:checked ~ .list .indicator {
          top: 144px;
        }
        #future:checked ~ .list .indicator {
          top: 288px;
        }

        .text-content {
          width: 90%;
          padding: 30px;

          .founders {
            padding-left: 0px;

            h3 {
              margin-left: 0;
              font-size: 1.8rem;
              line-height: 2.2rem;
              min-height: 50px;
            }
            img {
              display: none;
            }
          }

          .partners {
            padding-left: 0px;

            h3 {
              margin-left: 0;
              font-size: 1.8rem;
              line-height: 2.2rem;
              min-height: 50px;
            }
            img {
              display: none;
            }
          }

          .future {
            padding-left: 0px;

            h3 {
              margin-left: 0;
              font-size: 1.8rem;
              line-height: 2.2rem;
              min-height: 50px;
            }
            img {
              display: none;
            }
          }
        }
      }
    }
  }

  .roadmap {
    .phases {
      .phase {
        width: 100%;
        .phase-bottom {
          position: relative;

          .points {
            min-height: 129px;
            margin-right: 150px;
            padding-left: 22px;
            margin-bottom: 12px;
          }

          img {
            position: absolute;
            top: 20px;
            right: 20px;
          }
        }
      }
    }

    &-container {
      &-back {
        display: none;
      }
    }
  }

  .partnership {
    padding: 20px;
    &-container {
      .logos__marquee {
        &__left {
          max-width: 480px;
          h3 {
            font-size: 1.3rem;
            line-height: 2rem;
            animation: none;
            span {
              margin-left: 30px;
            }
          }

          h3:nth-child(2) {
            display: none;
          }
        }

        &__right {
          max-width: 480px;
          h3 {
            font-size: 1.3rem;
            line-height: 2rem;
            animation: none;
            span {
              margin-right: 30px;
            }
          }

          h3:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }

  .faq {
    padding: 50px 39px 115px;
    &-container {
      &__title {
        img {
          width: 40%;
          height: 40%;
        }

        h2 {
          text-align: center;
        }
      }

      #question_a:checked ~ .answer.-A,
      #question_b:checked ~ .answer.-B,
      #question_c:checked ~ .answer.-C,
      #question_d:checked ~ .answer.-D {
        max-height: 200px;
        padding: 0 30px 24px;
      }

      .question__headline {
        font-size: 1.6rem;
        line-height: 2rem;
        height: 72px;
        display: flex;
        align-items: center;
      }
    }
  }

  .team {
    font-size: 6.9rem;
    line-height: 7.8rem;

    &__marquee {
      max-width: 250px;

      h2 {
        span {
          margin-left: 20px;
        }
      }

      &__line1,
      &__line2 {
        animation: none;
      }
    }

    &-container {
      &-members {
        gap: 10px;
        .team__member {
          .find {
            display: none;
          }
          p {
            font-size: 1.1rem;
            line-height: 1.7rem;
          }
        }
      }
    }
  }

  .join {
    &-container {
      img {
        display: none;
      }

      &-info {
        align-items: center;
        text-align: center;

        p {
          max-width: 600px;
        }
      }
    }
  }

  .footer {
    padding: 30px 20px;
    &-container {
      .rights {
        flex-direction: row;
        justify-content: space-between;
      }

      .links {
        nav {
          justify-content: center;
          gap: 30px;
        }

        &-general {
          justify-content: center;
          gap: 30px;
        }

        &-creators {
          justify-content: center;
          gap: 30px;
        }

        &-social {
          gap: 8px;
          img {
            width: 32px;
          }
        }
      }
    }
  }
}
