@mixin common-font {
  font-family: $Inter;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: $primary-color;
}

@mixin title {
  font-family: $Audiowide;
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  color: $primary-color;
}

@mixin neon {
  padding-left: 22px;
  font-family: $DM-Mono;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 3.2rem;
  color: $neon;
  border-left: solid 1px $neon;
}
@mixin button {
  font-family: $DM-Mono;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  background-color: $neon;
  border: 1px solid $neon;
}
@mixin button-hover {
  border: 1px solid $neon;
  background-color: #000000;
  color: $primary-color;
}
