* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

header {
  margin-bottom: -4px;
}
section {
  margin-bottom: -4px;
}
footer {
  margin-bottom: -4px;
}
