// font-family: "Audiowide", cursive;
// font-family: "DM Mono", monospace;
// font-family: "Inter", sans-serif;
@font-face {
  font-family: "Audiowide";
  src: url(../fonts/Audiowide-Regular.woff2),
    url(../fonts/Audiowide-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "DM Mono";
  src: url(../fonts/DMMono-Regular.woff2), url(../fonts/DMMono-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff2), url(../fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@import "variables.scss";

@import "mixins.scss";

.header {
  padding: 50px 20px 9px;
  background-color: $background;

  &-container {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-container {
      display: flex;
      align-items: center;
      gap: 40px;

      nav {
        display: flex;
        gap: 40px;
        align-items: center;

        a {
          font-family: $DM-Mono;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 1.6rem;
          color: $primary-color;
          padding: 10px 5px;
          border: 2px solid rgba(0, 0, 0, 0);
        }
        a:hover {
          border-radius: 10px;
          border: 2px solid #ffffff;
        }
      }
    }

    .social {
      display: flex;
      gap: 12px;
    }
  }
}
.intro {
  padding: 133px 60px 103px 72px;
  background-color: $background;

  &-container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    gap: 55px;

    .description {
      h1 {
        font-family: $Audiowide;
        font-weight: 400;
        font-size: 5.1rem;
        line-height: 6.1rem;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 43px;
      }
      p {
        @include common-font;
        max-width: 340px;
        margin-bottom: 115px;
      }
      button {
        @include button;
        padding: 17px 50px 27px;
      }
      button:hover {
        @include button-hover;
      }
    }

    .selector {
      display: flex;
      align-items: center;
      gap: 60px;

      img {
        max-width: 235px;
        max-height: 313px;
        opacity: 0.5;
        transition: 2s;
      }
      img:hover {
        transform: scale(1.5);
        // max-width: 420px;
        // max-height: 545px;
        opacity: 1;
      }
    }
  }
}

.waveNFT {
  background-color: $background;
  padding: 114px 240px 120px 40px;

  &-container {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;

    &__blue {
      flex: 1;
      h2 {
        padding-left: 66px;
        margin-bottom: 41px;
        @include title;

        span {
          color: #a8a8a8;
        }
      }
    }
    &-description {
      flex: 1;

      h3 {
        @include neon;
        margin-bottom: 32px;
      }
      p {
        @include common-font;
        max-width: 562px;
        margin-bottom: 18px;
      }
      p:nth-child(4) {
        margin-bottom: 36px;
      }

      button {
        @include button;
        padding: 10px 33px 16px;
      }
      button:hover {
        @include button-hover;
      }
    }
  }
}

.artists {
  background-color: $background;

  &__line {
    display: flex;
    justify-content: space-between;
    span {
      display: inline-block;
      font-family: $Audiowide;
      font-weight: 400;
      font-size: 7.9rem;
      line-height: 8.8rem;
      text-transform: uppercase;
      color: $primary-color;
    }
  }

  &-container {
    padding: 120px 240px 120px 40px;

    &-list {
      margin: 0 auto;
      max-width: 1160px;
      display: grid;
      grid-template-columns: repeat(4, 245px);
      gap: 60px;

      p {
        font-family: $DM-Mono;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        color: $primary-color;
      }
    }
  }
}
.story {
  background-color: $background;
  padding: 120px 240px 132px 40px;

  &-container {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;

    h2 {
      text-align: center;
      @include title;
      margin-bottom: 61px;
      span {
        color: #a8a8a8;
      }
    }
    .content {
      min-height: 538px;
      display: flex;

      input[type="radio"] {
        display: none;
      }
      .list {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 20%;

        label {
          height: 72px;
          font-family: $DM-Mono;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 7.2rem;
          padding-left: 28px;
          color: $primary-color;

          cursor: pointer;
          z-index: 12;
        }
        label:hover {
          cursor: pointer;
        }

        .indicator {
          height: 72px;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #222222;
          transition: all 0.4s ease;
        }
      }
      #founders:checked ~ .list .founders {
        color: $neon;
      }
      #partners:checked ~ .list .partners {
        color: $neon;
      }
      #future:checked ~ .list .future {
        color: $neon;
      }
      #founders:checked ~ .list .indicator {
        top: 0;
      }
      #partners:checked ~ .list .indicator {
        top: 72px;
      }
      #future:checked ~ .list .indicator {
        top: 144px;
      }

      .text-content {
        width: 80%;
        // max-height: 538px;
        background-color: #222222;
        padding: 60px;
        display: flex;

        .text {
          display: none;
        }

        .founders {
          padding-left: 212px;
          position: relative;

          img {
            position: absolute;
            left: 0;
            top: 0;
          }

          h3 {
            @include neon;
            margin-bottom: 32px;
          }
          p {
            @include common-font;
            margin-bottom: 18px;
          }
        }

        .partners {
          padding-left: 212px;
          position: relative;

          img {
            position: absolute;
            left: 0;
            top: 0;
          }

          h3 {
            @include neon;
            margin-bottom: 32px;
          }
          p {
            @include common-font;
            margin-bottom: 18px;
          }
        }
        .future {
          padding-left: 212px;
          position: relative;

          img {
            position: absolute;
            left: 0;
            top: 0;
          }

          h3 {
            @include neon;
            margin-bottom: 32px;
          }
          p {
            @include common-font;
            margin-bottom: 18px;
          }
        }
      }
      #founders:checked ~ .text-content .founders,
      #partners:checked ~ .text-content .partners,
      #future:checked ~ .text-content .future {
        display: block;
      }

      #partners:checked ~ .text-content .founders,
      #future:checked ~ .text-content .founders {
        display: none;
      }
    }
  }
}

.parallax {
  background-image: url(../assets/parallax.jpg);
  min-height: 240px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.roadmap {
  background-color: $background;
  padding: 118px 50px 288px;

  &-container {
    margin: 0 auto;
    max-width: 540px;

    h2 {
      @include title;
      margin-bottom: 106px;
      text-align: center;
    }

    .phases {
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;

      .phase {
        border: 1px solid $neon;
        background-color: #222222;

        .phase-top {
          max-height: 70px;
          padding: 12px;
          border: 1px solid $neon;
          display: flex;
          align-items: center;
          gap: 12px;

          h4 {
            height: 45px;
            width: 45px;
            font-family: $DM-Mono;
            font-weight: 400;
            font-size: 28px;
            line-height: 45px;
            text-align: center;
            color: $neon;
            border: 1px solid $neon;
          }
          .complited {
            color: #000000;
            background-color: $neon;
            border: 1px solid $neon;
          }

          h6 {
            font-family: $DM-Mono;
            font-weight: 400;
            font-size: 8px;
            line-height: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $neon;
          }

          h5 {
            font-family: $DM-Mono;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            text-transform: uppercase;
            color: $primary-color;
          }
        }

        .phase-bottom {
          padding: 30px 12px;
          display: flex;
          gap: 75px;

          p {
            @include roadmap-font;
          }
          .highlighted {
            font-size: 1.2rem;
            margin-bottom: 12px;
          }

          .points {
            padding-left: 22px;
            margin-bottom: 12px;
          }

          img {
            border-radius: 11px;
            max-width: 129px;
            max-height: 129px;
          }

          span {
            color: $neon;
          }
        }
      }

      .splitter {
        height: 40px;
        border-left: 1px solid $neon;
      }
    }
  }
}

.partnership {
  background-color: $background;
  padding: 0 240px 245px 40px;

  &-container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    h6 {
      font-family: $DM-Mono;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.2rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $neon;
      text-align: center;
    }
    .logos {
      width: 100%;
      display: flex;
      justify-content: space-between;
      span {
        display: inline-block;
        font-family: $Audiowide;
        font-weight: 400;
        font-size: 3rem;
        line-height: 3.1rem;
        text-transform: uppercase;
        color: $primary-color;
      }
    }
  }
}

.faq {
  background-color: $background;
  padding: 0 181px 115px 99px;

  &-container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &__title {
      max-width: 360px;

      h2 {
        margin-bottom: 51px;
        @include title;

        span {
          color: #a8a8a8;
        }
      }
    }

    .QandA {
      max-width: 580px;
    }

    .question__switch {
      display: none;
    }

    .answer {
      max-height: 0;
      overflow: hidden;
      transition: 0.4s;

      font-family: $Inter;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.9rem;
      color: #c4c4c4;
      padding: 0 30px;
      background-color: #222222;
    }

    #question_a:checked ~ .answer.-A,
    #question_b:checked ~ .answer.-B,
    #question_c:checked ~ .answer.-C,
    #question_d:checked ~ .answer.-D {
      max-height: 100px;
      padding: 0 30px 24px;
    }

    .question__headline::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 25px;

      width: 17px;
      height: 17px;
      border: 2px solid $background;
      background-color: $primary-color;
    }

    #question_a:checked ~ .question__headline.-A::before,
    #question_b:checked ~ .question__headline.-B::before,
    #question_c:checked ~ .question__headline.-C::before,
    #question_d:checked ~ .question__headline.-D::before {
      background-color: $neon;
    }

    .question__headline {
      display: block;
      position: relative;
      user-select: none;
      cursor: pointer;

      font-family: $DM-Mono;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 7.2rem;
      color: $primary-color;
      padding: 0 30px;
      background-color: #222222;
    }

    .question__headline:hover {
      text-decoration: underline;
    }
  }
}
