// font-family: "Audiowide", cursive;
// font-family: "DM Mono", monospace;
// font-family: "Inter", sans-serif;
@font-face {
  font-family: "Audiowide";
  src: url(../fonts/Audiowide-Regular.woff2),
    url(../fonts/Audiowide-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "DM Mono";
  src: url(../fonts/DMMono-Regular.woff2), url(../fonts/DMMono-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff2), url(../fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@import "variables.scss";

@import "mixins.scss";

.header {
  padding: 50px 20px 9px;
  background-color: $background;

  &-container {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-container {
      display: flex;
      align-items: center;
      gap: 40px;

      nav {
        display: flex;
        gap: 40px;
        align-items: center;

        a {
          font-family: $DM-Mono;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 1.6rem;
          color: $primary-color;
          padding: 10px 5px;
          border: 2px solid rgba(0, 0, 0, 0);
        }
        a:hover {
          border-radius: 10px;
          border: 2px solid #ffffff;
        }
      }
    }

    .social {
      display: flex;
      gap: 12px;
    }
  }
}
.intro {
  padding: 133px 60px 103px 72px;
  background-color: $background;

  &-container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    gap: 55px;

    .description {
      h1 {
        font-family: $Audiowide;
        font-weight: 400;
        font-size: 5.1rem;
        line-height: 6.1rem;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 43px;
      }
      p {
        @include common-font;
        max-width: 340px;
        margin-bottom: 115px;
      }
      button {
        @include button;
        padding: 17px 50px 27px;
      }
      button:hover {
        @include button-hover;
      }
    }

    .selector {
      display: flex;
      align-items: center;
      gap: 60px;

      img {
        max-width: 235px;
        max-height: 313px;
        opacity: 0.5;
        transition: 2s;
      }
      img:hover {
        transform: scale(1.5);
        // max-width: 420px;
        // max-height: 545px;
        opacity: 1;
      }
    }
  }
}

.waveNFT {
  background-color: $background;
  padding: 114px 240px 120px 40px;

  &-container {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;

    &__blue {
      flex: 1;
      h2 {
        padding-left: 66px;
        margin-bottom: 41px;
        @include title;

        span {
          color: #a8a8a8;
        }
      }
    }
    &-description {
      flex: 1;

      h3 {
        @include neon;
        margin-bottom: 32px;
      }
      p {
        @include common-font;
        max-width: 562px;
        margin-bottom: 18px;
      }
      p:nth-child(4) {
        margin-bottom: 36px;
      }

      button {
        @include button;
        padding: 10px 33px 16px;
      }
      button:hover {
        @include button-hover;
      }
    }
  }
}

.artists {
  background-color: $background;

  &__line {
    display: flex;
    justify-content: space-between;
    span {
      display: inline-block;
      font-family: $Audiowide;
      font-weight: 400;
      font-size: 7.9rem;
      line-height: 8.8rem;
      text-transform: uppercase;
      color: $primary-color;
    }
  }

  &-container {
    padding: 120px 240px 120px 40px;
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 60px;

    p {
      font-family: $DM-Mono;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.4rem;
      text-align: center;
      color: $primary-color;
    }
  }
}
